@if(RendererInfo.IsInteractive)
{
<div class="card my-4">
    <div class="card-header">
        Chat with us
    </div>
    <img src="images/marketing/chat.png" width="250">
    <div class="card-body">
        <h5 class="card-title">We're here to help</h5>
        <p class="card-text">Our customer service reps are available to chat during business hours.</p>
        <a href="#" class="btn btn-primary">Launch chat</a>
    </div>
</div>
} else{
    <p class="alert alert-info my-4">Sorry, chat is unavailable.</p>
}

<p>Execution Location: @RendererInfo.Name</p>
<p>Is Interactive: @RendererInfo.IsInteractive</p>
<p>Assigned Mode: @AssignedRenderMode</p>