@page "/admin"
@attribute [ExcludeFromInteractiveRouting]

<PageTitle>
    Admin Center
</PageTitle>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <AdminNav />
            </div>
            <div class="col-md-10">
                <p class="alert alert-info">This area is under construction, please check back soon!</p>
                <img src="images/marketing/construction.png" style="max-width: 250px" />
            </div>
        </div>
    </div>
</div>
