@page "/admin"

<PageTitle>
    Admin Center
</PageTitle>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <AdminNav />
                <br />
                <br />
            </div>
            <div class="col-md-10">
                <p class="alert alert-info">This area is under construction, please check back soon!</p>
				<img style="max-width: 250px" src="images/marketing/construction.png" />
            </div>
        </div>
    </div>
</div>
