@namespace WiredBrainCoffee.UI.Admin

<ul class="list-group">
    <NavLink class="list-group-item" Match="NavLinkMatch.All" href="/admin">Dashboard</NavLink>
    <NavLink class="list-group-item" Match="NavLinkMatch.All" href="/admin/order/history">Order History</NavLink>
    <li class="list-group-item">Manage Menu</li>
    <li class="list-group-item">Contact History</li>
    <li class="list-group-item">Settings</li>
    <li class="list-group-item">Feedback</li>
</ul>

@code {

}